@import url("common.css");

/***************************
**** List-Select Navbar ****
***************************/
/* #region LIST-SELECT NAVBAR */
#list-select-navbar {
    background: var(--LIST-BACKGROUND);
    padding-top: 0.3125rem;
    border-top: 0.0625rem solid black;
}

/* Centers the entire list-selector navbar */
#list-select-navbar .container {
    display: flex;
    justify-content: space-around;
}

/* Makes the elements in the center a flex row */
#list-select-navbar #list-menu ul {
    display: flex;
}

/* Styles the list elements */
#list-select-navbar ul li button {
    padding: 0 2.5rem;
    display: block;
    font-weight: normal;
    font-size: 1rem;
    transition: color 0.15s;
    border: none;
    background: var(--LIST-BUTTON-BACKGROUND);
    color: var(--LIST-TEXT);
    height: 1.25rem;
    line-height: 1;
}

#list-select-navbar ul li button:hover {
    background: var(--LIST-BUTTON-BACKGROUND-HOVER);
    color: var(--LIST-TEXT-HOVER);
}

/* Styles the ACTIVE list element */
#list-select-navbar #list-list .active {
    font-weight: bold;
    background: var(--LIST-SELECTED-BUTTON-BACKGROUND);
    color: var(--LIST-SELECTED-TEXT);
}

#list-select-navbar #list-list .active:hover {
    background: var(--LIST-SELECTED-BUTTON-BACKGROUND-HOVER);
    color: var(--LIST-SELECTED-TEXT-HOVER);
}
/* #endregion */


/***************************
**** Year-Select Navbar ****
***************************/
/* #region YEAR-SELECT NAVBAR */
#year-navbar {
    background: var(--YEAR-BACKGROUND);
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    border-bottom: 0.0625rem solid black;
}

/* Centers the entire year navbar */
#year-navbar .container {
    display: flex;
    justify-content: space-around;
}

/* Puts the buttons and year list into a flex row */
#year-navbar #year-menu {
    display: flex;
}

/* Styles and adds border to the list elements */
#year-navbar #year-menu ul {
    display: flex;
    justify-content: space-between;
}

#year-navbar #year-menu li {
    border-left: 0.0625rem solid var(--YEAR-BORDER);
    border-top: 0.0625rem solid var(--YEAR-BORDER);
    border-bottom: 0.0625rem solid var(--YEAR-BORDER);
}

#year-navbar #year-menu li:last-child {
    border-right: 0.0625rem solid var(--YEAR-BORDER);
}

/* Style ALL the buttons */
#year-navbar button {
    padding: 0.125rem 1.125rem;
    display: block;
    font-size: 1rem;
    font-weight: normal;
    transition: 0.15s;
    border: none;
    background: var(--YEAR-BUTTON-BACKGROUND);
    color: var(--YEAR-TEXT);
    height: 100%;
}

#year-navbar button:hover {
    background: var(--YEAR-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-TEXT-HOVER);
    cursor: pointer;
}

#year-navbar button:disabled {
    background: var(--YEAR-DISABLED-BUTTON-BACKGROUND);
    color: var(--YEAR-DISABLED-TEXT);
}

#year-navbar button:disabled:hover {
    background: var(--YEAR-DISABLED-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-DISABLED-TEXT-HOVER);
    cursor: pointer;
}

/* Style the selected year */
#year-navbar #year-list .active {
    background: var(--YEAR-SELECTED-BUTTON-BACKGROUND);
    color: var(--YEAR-SELECTED-TEXT);
}

#year-navbar #year-list .active:hover {
    background: var(--YEAR-SELECTED-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-SELECTED-TEXT-HOVER);
}
/* #endregion */


/**************
**** Alert ****
**************/
/* #region ALERT BANNER */
#alert-banner {
    padding: 0.3125rem 1.25rem;
    background-color: #f44336;
    color: var(--BODY-BACKGROUND);
    margin-bottom: 0.9375rem;
    align-items: center;
    text-align: center;
}

/* The close button */
#alertclose {
    margin-left: 1.875rem;
    color: var(--BODY-BACKGROUND);
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
#alertclose:hover {
    color: var(--DARK-COLOR);
}
/* #endregion */


/*************************
**** Spotify Playlist ****
*************************/
/* #region SPOTIFY PLAYLIST */
#spotify-playlist .container, #spotify-playlist .grid-container {
    padding-top: 0.9375rem;
    padding-bottom: 0.2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#spotify-playlist a {
    font-style: italic;
    color: var(--PRIMARY-COLOR);
    border-bottom: 0.0625rem solid transparent;
}

#spotify-playlist a:hover {
    border-bottom: 0.0625rem solid var(--PRIMARY-COLOR);
    font-weight: bold;
}


#layout-button {
    color: #494949;
    transition: 0.15s;
    position: absolute;
    right: 0.938rem;
    /* top: 50%;
    transform: translateY(-50%); */
}

#layout-button:hover {
    color: var(--PRIMARY-COLOR);
}
/* #endregion */


/**************
**** Table ****
**************/
/* #region TABLE */
#album-list .container {
    padding-top: 0.9375rem;
    padding-bottom: 3.125rem;
    background: var(--CONTAINER-BACKGROUND);
}

/* Table column widths */
#album-list .song {
    width: 21.5%;
}

#album-list .album {
    width: 21.5%;
}

#album-list .artist {
    width: 21%;
}

#album-list .genre {
    width: 18.5%;
}

#album-list .favorite-songs {
    width: 39%;
}

/* Table ordering triangles */
#album-list #table-headers .header span { /* Order triangles */
    color: var(--TABLE-HEADER-ORDER);
}

#album-list #table-headers .header .active {
    color: var(--TABLE-SELECTED-HEADER-ORDER);
}

/* Table style */
#album-list #table-headers .header { /* Inner div inside the cell */
    font-size: 1rem;
    font-weight: bold;
}

#album-list table, td {
    padding: 0.3125rem 0.3125rem;
    border: 0.0625rem solid var(--TABLE-BORDER);
    border-collapse: collapse;
    position: relative;
}
#album-list .container table {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#album-list td {
    padding: 0.625rem 1rem;
}

#album-list thead td {  /* Entire header cell */
    padding: 0.3125rem 1rem;
    color: var(--TABLE-HEADER-TEXT);
    background: var(--TABLE-HEADER-BACKGROUND);
    border-bottom: 0.125rem solid var(--TABLE-BORDER);
}

#album-list thead td:hover {  /* Entire header cell */
    color: var(--TABLE-HEADER-TEXT-HOVER);
    background: var(--TABLE-HEADER-BACKGROUND-HOVER);
}

#album-list #album-table {
    background: var(--TABLE-CELL-BACKGROUND);
}
#album-list #album-table .ten {
    background: var(--TABLE-10);
}
#album-list #album-table .gold {
    background: var(--TABLE-GOLD);
}
#album-list #album-table .silver {
    background: var(--TABLE-SILVER);
}
#album-list #album-table .bronze {
    background: var(--TABLE-BRONZE);
}
/* #endregion */


/************
**** Art ****
************/
/* #region art */
.art-cell {
    width: 20%;
    text-align: center;
    border: none;
}

.grid-container {
    max-width: 1500px;
    margin: 0 auto; /* top & bottom = 0, left & right = auto */
    padding: 0 0.9375rem;
}

#album-list .grid-container table, .grid-container td {
    padding-top: 2rem;
    border: 0.75rem solid transparent;
}

#album-list .grid-container td {
    border-radius: 10%;
}
@media only screen and (max-width: 600px) {
    #album-list .grid-container td {
        border-radius: 15%;
    }
}

#album-list .grid-container #album-table {
    background: var(--BODY-BACKGROUND);
}
/* #endregion */


@media only screen and (max-width: 600px) {
    /* Make all fonts 25% smaller */
    #list-select-navbar ul li button {
        font-size: 0.75rem;
    }
    #year-navbar button {
        font-size: 0.75rem;
    }
    #alertclose {
        font-size: 0.9375rem;
    }
    #album-list #table-headers .header { /* Inner div inside the cell */
        font-size: 0.75rem;
    }
    #spotify-playlist {
        font-size: 0.75rem;
    }

    /* Stop table from overspilling */
    #album-list {
        width: 100vw;
    }
    #album-list .container {
        width: 100%;
        margin: 0;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        padding-top: 0.9375rem;
        padding-bottom: 3.125rem;
    }
    #album-list table {
        table-layout: fixed;
        width: 100%;
        word-wrap: break-word;
    }
    #album-list td, #album-list thead td {
        padding: 0.3125rem 0.3125rem;
    }

    /* Stop list selector from overspilling */
    #list-select-navbar {
        padding-top: 0.4rem;
        padding-bottom: 0.2rem;
    }
    #list-select-navbar ul li button {
        padding: 0 1.45rem;
    }

    /* Stop year selector from overspilling */
    #year-navbar {
        width: 100vw;
        padding-top: 0.4rem;
        padding-bottom: 0.75rem;
    }
    #year-navbar .container {
        width: 100%;
        padding: 0;
    }
    #year-navbar button {
        padding: 0.125rem 0.75rem;
        word-wrap: break-word;
    }
}