@font-face {
    font-family: "Binomic Medium";
    src: url("fonts/binomic_medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* Apply to everything */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Binomic Medium", sans-serif;
}

html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

:root {
    /* Reference Colors */
    --PRIMARY-COLOR: #4891ff;
    --DARK-COLOR: #494949;

    --OFFWHITE: #eee;

    --DISABLED-COLOR: rgb(175, 175, 175);


    /* Top Navbar Colors */
    --NAVBAR-BACKGROUND: #eee;

    --NAVBAR-TEXT: black;
    --NAVBAR-TEXT-HOVER: var(--PRIMARY-COLOR);

    /* 
        Option 1: Darkmode navbar
    */

    /* List Selector Colors */
    --LIST-BACKGROUND: var(--DARK-COLOR);

    --LIST-TEXT: var(--OFFWHITE);
    --LIST-TEXT-HOVER: var(--PRIMARY-COLOR);
    --LIST-BUTTON-BACKGROUND: var(--LIST-BACKGROUND);
    --LIST-BUTTON-BACKGROUND-HOVER: var(--LIST-BACKGROUND);

    --LIST-SELECTED-TEXT: var(--LIST-TEXT);
    --LIST-SELECTED-TEXT-HOVER: var(--LIST-TEXT);
    --LIST-SELECTED-BUTTON-BACKGROUND: var(--LIST-BACKGROUND);
    --LIST-SELECTED-BUTTON-BACKGROUND-HOVER: var(--LIST-BACKGROUND);
    
    
    /* Year Selector Colors */
    --YEAR-BACKGROUND: var(--LIST-BACKGROUND);
    --YEAR-BORDER: rgb(131, 135, 138);

    --YEAR-TEXT: var(--LIST-TEXT);
    --YEAR-TEXT-HOVER: var(--PRIMARY-COLOR);
    --YEAR-BUTTON-BACKGROUND: var(--YEAR-BACKGROUND);
    --YEAR-BUTTON-BACKGROUND-HOVER: var(--YEAR-BACKGROUND);
    
    --YEAR-DISABLED-TEXT: rgb(150, 150, 150);
    --YEAR-DISABLED-TEXT-HOVER: var(--YEAR-DISABLED-TEXT);
    --YEAR-DISABLED-BUTTON-BACKGROUND: var(--YEAR-BACKGROUND);
    --YEAR-DISABLED-BUTTON-BACKGROUND-HOVER: var(--YEAR-BACKGROUND);

    --YEAR-SELECTED-TEXT: rgb(255, 255, 255);
    --YEAR-SELECTED-TEXT-HOVER: var(--YEAR-SELECTED-TEXT);
    --YEAR-SELECTED-BUTTON-BACKGROUND: #808080;
    --YEAR-SELECTED-BUTTON-BACKGROUND-HOVER: var(--YEAR-SELECTED-BUTTON-BACKGROUND);


    /* Table Colors */
    --TABLE-HEADER-TEXT: black;
    --TABLE-HEADER-TEXT-HOVER: var(--TABLE-HEADER-TEXT);
    --TABLE-HEADER-BACKGROUND: #bbdeff;
    --TABLE-HEADER-BACKGROUND-HOVER: var(--TABLE-HEADER-BACKGROUND);
    
    --TABLE-HEADER-ORDER: var(--DISABLED-COLOR);
    --TABLE-SELECTED-HEADER-ORDER: black;

    --TABLE-BORDER: black;

    
    --TABLE-10: var(--TABLE-GOLD);
    --TABLE-GOLD: #ffbf00;
    --TABLE-SILVER: silver;
    --TABLE-BRONZE: #cd7f32;
    --TABLE-CELL-BACKGROUND: #f3f8ff;


    /* Body Colors */
    --BODY-BACKGROUND: #fdfdfd;
}


/***********************
**** Basic elements ****
***********************/
/* #region BASIC ELEMENTS */
body {
    font-size: 16px;
    line-height: 1.5;
    padding-bottom: 0px;
    background: var(--BODY-BACKGROUND);
}

a {
    text-decoration: None;
    color: var(--DARK-COLOR)
}

ul {
    list-style: None;
}

img {
    max-width: 100%;
}
/* #endregion */


/********************
**** Main Navbar ****
********************/
/* #region NAVBAR */
#navbar {
    background: var(--NAVBAR-BACKGROUND);
    padding: 0px;
}

/* Makes all elements into a flex row */
#navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

/* Styles the title element */
#navbar #title a {
    padding: 5px 0px;
    display: block;
    font-size: large;
    font-weight: normal;
    transition: 0.15s;
    color: var(--NAVBAR-TEXT);
}

#navbar #title a:hover {
    color: var(--NAVBAR-TEXT-HOVER);
}

/* Makes the list elements into a flex row */
#navbar #main-menu {
    display: flex;
    align-items: center;
}

#navbar #main-menu ul {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

/* Styles the list elements */
#navbar ul li a {
    padding: 5px 20px;
    display: block;
    font-size: large;
    font-weight: normal;
    transition: 0.15s;
    color: var(--NAVBAR-TEXT);
}

#navbar ul li a:hover {
    color: var(--NAVBAR-TEXT-HOVER);
}

/* Moves the spotify logo over so it is in line with the rest of the "container" class borders */
#navbar #main-menu a {
    padding-right: 25px;
}
/* #endregion */


/***************************
**** List-Select Navbar ****
***************************/
/* #region LIST-SELECT NAVBAR */
#list-select-navbar {
    background: var(--LIST-BACKGROUND);
    padding-top: 5px;
    border-top: 1px solid black;
}

/* Centers the entire list-selector navbar */
#list-select-navbar .container {
    display: flex;
    justify-content: space-around;
}

/* Makes the elements in the center a flex row */
#list-select-navbar #list-menu ul {
    display: flex;
}

/* Styles the list elements */
#list-select-navbar ul li button {
    padding: 0px 40px;
    display: block;
    font-weight: normal;
    font-size: medium;
    transition: color 0.15s;
    border: none;
    background: var(--LIST-BUTTON-BACKGROUND);
    color: var(--LIST-TEXT);
    height: 20px;
    line-height: 1;
}

#list-select-navbar ul li button:hover {
    background: var(--LIST-BUTTON-BACKGROUND-HOVER);
    color: var(--LIST-TEXT-HOVER);
}

/* Styles the ACTIVE list element */
#list-select-navbar #list-list .active {
    font-weight: bold;
    background: var(--LIST-SELECTED-BUTTON-BACKGROUND);
    color: var(--LIST-SELECTED-TEXT);
}

#list-select-navbar #list-list .active:hover {
    background: var(--LIST-SELECTED-BUTTON-BACKGROUND-HOVER);
    color: var(--LIST-SELECTED-TEXT-HOVER);
}
/* #endregion */


/***************************
**** Year-Select Navbar ****
***************************/
/* #region YEAR-SELECT NAVBAR */
#year-navbar {
    background: var(--YEAR-BACKGROUND);
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}

/* Centers the entire year navbar */
#year-navbar .container {
    display: flex;
    justify-content: space-around;
}

/* Puts the buttons and year list into a flex row */
#year-navbar #year-menu {
    display: flex;
}

/* Styles and adds border to the list elements */
#year-navbar #year-menu ul {
    display: flex;
    justify-content: space-between;
}

#year-navbar #year-menu li {
    border-left: 1px solid var(--YEAR-BORDER);
    border-top: 1px solid var(--YEAR-BORDER);
    border-bottom: 1px solid var(--YEAR-BORDER);
}

#year-navbar #year-menu li:last-child {
    border-right: 1px solid var(--YEAR-BORDER);
}

/* Style ALL the buttons */
#year-navbar button {
    padding: 2px 18px;
    display: block;
    font-size: medium;
    font-weight: normal;
    transition: 0.15s;
    border: none;
    background: var(--YEAR-BUTTON-BACKGROUND);
    color: var(--YEAR-TEXT);
}

#year-navbar button:hover {
    background: var(--YEAR-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-TEXT-HOVER);
    cursor: pointer;
}

#year-navbar button:disabled {
    background: var(--YEAR-DISABLED-BUTTON-BACKGROUND);
    color: var(--YEAR-DISABLED-TEXT);
}

#year-navbar button:disabled:hover {
    background: var(--YEAR-DISABLED-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-DISABLED-TEXT-HOVER);
    cursor: pointer;
}

/* Style the selected year */
#year-navbar #year-list .active {
    /* font-weight: bold; */
    background: var(--YEAR-SELECTED-BUTTON-BACKGROUND);
    color: var(--YEAR-SELECTED-TEXT);
}

#year-navbar #year-list .active:hover {
    background: var(--YEAR-SELECTED-BUTTON-BACKGROUND-HOVER);
    color: var(--YEAR-SELECTED-TEXT-HOVER);
}
/* #endregion */


/**************
**** Alert ****
**************/
/* #region ALERT BANNER */
#alert-banner {
    padding: 5px 20px;
    background-color: #f44336; /* Red */
    color: var(--BODY-BACKGROUND);
    margin-bottom: 15px;
    align-items: center;
    text-align: center;
}

/* The close button */
#alertclose {
    margin-left: 30px;
    color: var(--BODY-BACKGROUND);
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
#alertclose:hover {
    color: var(--DARK-COLOR);
}
/* #endregion */


/*************************
**** Spotify Playlist ****
*************************/
/* #region SPOTIFY PLAYLIST */
#spotify-playlist .container {
    padding-top: 15px;
    text-align: center;
    /* padding-left: 70px;
    padding-right: 70px;
    background: #eee;
    border-left: 1px solid var(--DISABLED-COLOR);
    border-right: 1px solid var(--DISABLED-COLOR); */
}

#spotify-playlist a {
    /* padding-left: 1em;
    padding-right: 1em; */
    font-style: italic;
    color: var(--PRIMARY-COLOR);
}

#spotify-playlist a:hover {
    border-bottom: 1px solid var(--PRIMARY-COLOR);
    /* color: var(--DISABLED-COLOR); */
    font-weight: bold;
}
/* #endregion */


/**************
**** Table ****
**************/
/* #region TABLE */
#album-list .container {
    padding-top: 15px;
    padding-bottom: 50px;
    background: var(--CONTAINER-BACKGROUND);
    /* padding-left: 70px;
    padding-right: 70px;
    background: #eee;
    border-left: 1px solid var(--DISABLED-COLOR);
    border-right: 1px solid var(--DISABLED-COLOR); */
}

/* Table column widths */
/* By maing everything way too big, it automatically scales down to fit within the container
   All ratios between sizes are kept! */
#album-list .song {
    width: 8000px;
}

#album-list .artist {
    width: 8000px;
}

#album-list .album {
    width: 8000px;
}

#album-list .genre {
    width: 6000px;
}

#album-list .favorite-songs {
    width: 18000px;
}

#album-list .rating {
    width: 10000px;
}

/* Table ordering triangles */
#album-list #table-headers .header span { /* Order triangles */
    color: var(--TABLE-HEADER-ORDER);
}

#album-list #table-headers .header .active {
    color: var(--TABLE-SELECTED-HEADER-ORDER);
}

/* Table style */
#album-list #table-headers .header { /* Inner div inside the cell */
    font-size: medium;
    font-weight: bold;
}

#album-list table, td {
    padding: 5px 5px;
    border: 1px solid var(--TABLE-BORDER);
    border-collapse: collapse;
    position: relative;
}

#album-list thead td {  /* Entire header cell */
    color: var(--TABLE-HEADER-TEXT);
    background: var(--TABLE-HEADER-BACKGROUND);
    border-bottom: 2px solid var(--TABLE-BORDER);
}

#album-list thead td:hover {  /* Entire header cell */
    color: var(--TABLE-HEADER-TEXT-HOVER);
    background: var(--TABLE-HEADER-BACKGROUND-HOVER);
}

#album-list #album-table {
    background: var(--TABLE-CELL-BACKGROUND);
}
#album-list #album-table .ten {
    background: var(--TABLE-10);
}
#album-list #album-table .gold {
    background: var(--TABLE-GOLD);
}
#album-list #album-table .silver {
    background: var(--TABLE-SILVER);
}
#album-list #album-table .bronze {
    background: var(--TABLE-BRONZE);
}
/* #endregion */


/*******************************
**** Text Pages (Non-Table) ****
*******************************/
/* #region TEXT PAGES */
/* Adds padding to top of the page */
.text-page {
    padding-top: 1.5em;
}

.text-page hr {
    /* border-bottom: 1px solid black; */
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: var(--DISABLED-COLOR);
    height: 1px;
}

/* Styles the bullet points */
.text-page ul li {
    list-style: inside;
    padding-left: 2.5em;
    padding-top: 0.5em;
    text-indent: -1.5em;
    
}

/* Acts as a mock <p> element so I can nest other elements inside */
.text-page .mock-p {
    padding-bottom: 1.5em;
}

.text-page .section {
    padding-top: 1em;
    padding-bottom: 3em;
}

/* Allow for finer-detailed spacing */
.text-page .top-half-pad {
    padding-top: 0.5em;
}
.text-page .top-one-half-pad {
    padding-top: 1.5em;
}
.text-page .bot-half-pad {
    padding-bottom: 0.5em;
}
.text-page .bot-one-half-pad {
    padding-bottom: 1.5em;
}

/* Styles the navbar */
.text-page-nav {
    display: inline;
    text-align: center;
}

.text-page-nav hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: var(--DISABLED-COLOR);
    height: 1px;
    max-width: 900px;
    margin: 0 auto;
}

.text-page-nav ul {
    display: inline-flex;
    padding-top: 8px;
    padding-bottom: 8px;
}

.text-page-nav li {
    border-bottom: 1px solid transparent;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.text-page-nav li:hover {
    border-bottom: 1px solid black;
    /* v AB v */
    font-weight: bold;
    transition: 0.15s;
}
/* #endregion */


/***********************
**** Site Info Page ****
***********************/
/* Text coloring */
#site-info .gold {
    border-bottom: 3px solid var(--TABLE-GOLD);
}
#site-info .silver {
    border-bottom: 3px solid var(--TABLE-SILVER);
}
#site-info .bronze {
    border-bottom: 3px solid var(--TABLE-BRONZE);
}
#site-info .hon-men {
    border-bottom: 3px solid var(--TABLE-CELL-BACKGROUND);
}
/* Links */
#site-info .section a {
    border-bottom: 1px solid transparent;
    color: var(--PRIMARY-COLOR);
}

#site-info .section a:hover {
    border-bottom: 1px solid var(--PRIMARY-COLOR);
    /* v AB v */
    font-weight: bold;
    transition: 0.15s;
}


/***********************
**** Resources Page ****
***********************/
/* #region RESOURCES */
/* Style the playlists table */
#resources #playlists-table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#resources table { /* Centers the content within each cell */
    display: flex;
    text-align: center;
    border-spacing: 5px;
}

#resources td { /* Spaces out the cells */
    width: 1000px;
    /* border: none; */
    padding-bottom: 2em;
}

#resources .year-title {
    font-weight: bold;
    max-width: 60%;
    margin: 0 auto;
    border-bottom: 1px solid black;
}
#resources .playlist {
    padding-top: 5px;
    font-style: italic;
    border-bottom: 1px solid transparent;
}

#resources .playlist a.disabled  {
    color: var(--DISABLED-COLOR);
    pointer-events: none;
    cursor: default;
}

#resources .playlist a.disabled:hover  {
    font-weight: normal;
}

/* Links */
#resources a {
    border-bottom: 1px solid transparent;
    color: var(--PRIMARY-COLOR);
}

#resources a:hover {
    border-bottom: 1px solid var(--PRIMARY-COLOR);
    /* v AB v */
    font-weight: bold;
    transition: 0.15s;
}
/* #endregion */


/************************
**** Utility classes ****
************************/
/* #region UTILITY */
.container {
    max-width: 1300px;
    margin: 0 auto; /* top & bottom = 0, left & right = auto */
    padding: 0 15px;
    /* background: pink; */
}
.site-info-container {
    max-width: 900px;
    margin: 0 auto; /* top & bottom = 0, left & right = auto */
    padding: 0 15px;
    /* background: pink; */
}
.resources-container {
    max-width: 900px;
    margin: 0 auto; /* top & bottom = 0, left & right = auto */
    padding: 0 15px;
    /* background: pink; */
}

/* .no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
} */


.hidden {
    display: none;
}
/* #endregion */